<form action="{{ path('chat_post') }}" method="post">
    <label for="chatMessage">Message</label>
    <input type="text" name="message" id="chatMessage" />
    <input type="submit" value="submit" />
</form>
{% render 'ChatBundle:Chat:list' %}
<script type="text/javascript">
function updateChat()
{
    $.post('{{ path('chat_list') }}', function(data) {
        $('#chat').html(data);
        setTimeout('updateChat()', {{ updateInterval }});
    });
}
updateChat();
</script>
