<form action="{{ path('cunningsoft_chat_post') }}" method="post">
    <label for="chatMessage">Message</label>
    <input type="text" name="message" id="chatMessage" />
    <input id="submitButton" type="submit" value="submit" />
</form>
{% render(controller('CunningsoftChatBundle:Chat:list')) %}
<script type="text/javascript">
$("#submitButton").submit(function() {
    postMessage();
    updateChat();
    return false;
});
function postMessage()
{
    $.post('{{ path('cunningsoft_chat_post') }}', { 'message': $("#chatMessage").val() });
    $("#chatMessage").val('');
}
function updateChat()
{
    $.post('{{ path('cunningsoft_chat_list') }}', function(data) {
        $('#chat').html(data);
    });
}
setInterval('updateChat()', {{ updateInterval }});
updateChat();
</script>
